<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor, tortor sit amet vestibulum imperdiet, nibh ex suscipit dolor, a tincidunt sem leo eu nunc. In non accumsan odio. Suspendisse potenti. Sed commodo odio quam, sed blandit mi cursus quis. Cras ipsum turpis, tristique id nulla non, cursus finibus purus. Nullam ac ipsum augue.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>
                email@email.com</li>
                <li><i class="fa-solid fa-phone"></i>
                (14) 3333-0666</li>
                <li><i class="fa-brands fa-whatsapp"></i>
                (14) 99988-5666</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>